<div class="container">
    <div class="row">
       <div class="text-center"><h1 class="title_afs">Bienvenue à Cape town</h1></div>
       <div class="text-center"><h3 class="pitch_afs">Notre appartement se situe dans le City Bowl, près du parlement régional. <br>
       il est parfait pour les couples avec deux anfants.</h3></div>
    </div>
</div>
<div class="container">
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
          <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/panorama.jpeg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#one">Voir en grand</button></div>
    </div>
    <div class="modal"  id="one" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <img class="img-responsive" src="afspic/panorama.jpeg" alt="">
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/salon1.jpeg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#second">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="second">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/salon1.jpeg" alt="">
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/salon.jpeg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#trois">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="trois">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/salon.jpeg" alt="">
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/bed.jpeg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#four">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="four">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/bed.jpeg" alt="">
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/cuisine.jpeg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#five">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="five">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/cuisine.jpeg" alt="">
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/piscine.jpeg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#six">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="six">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/piscine.jpeg" alt="">
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/salle_sport.jpeg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#seven">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="seven">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/salle_sport.jpeg" alt="">
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/hall.jpg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#eight">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="eight">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/hall.jpg" alt="">
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/exterieur.jpg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#nine">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="nine">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/exterieur.jpg" alt="">
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/Blue_Lodge_Long_Street.JPG" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#ten">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="ten">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/Blue_Lodge_Long_Street.JPG" alt="">
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/pingu.jpg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#eleven">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="eleven">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/pingu.jpg" alt="">
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/table_mountain.jpg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#twelve">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="twelve">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/table_mountain.jpg" alt="">
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="afspic/cape_of_good_hope.jpg" alt="">
           </a>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal"
          data-target= "#13">Voir en grand</button></div>
    </div>
    <div class="modal fade" id="13">
        <div class="modal-dialog">
          <div class="modal-content">
            <img class="img-responsive" src="afspic/cape_of_good_hope.jpg" alt="">
          </div>
        </div>
    </div>

</div>

<script>
</script>
