<section class="team">
  <div class="row">
    <div class="text-center"><h1 class="title_team">Notre histoire</h1></div>
  </div>
  <div class="row">
    <h3>Ddomtomimmo est une société de location</h3>
  </div>
</section>
