<aside>
      <div class="row">
        <div class="text-center"><h1 class="baseline">Vous allez être bien <br> chez vous  </h1> </div>
      </div>
</aside>


<section id="portfolio">
  <div class="row">
      <div class="text-center"><h1 class="titre">Nos locations</h1></div>
  </div>
  <div class="container">
    <div class="row" id="card_location">
      <div class="col-md-4">
        <a href="/reunion.html" class="service-link">
      <div class="card card--shaded full-background-image display-table space-md-2 space-lg-4" style="background-image:url('//cdn2.starofservice.com/static/images/home/bg-lessons.jpg')">
          <div class="display-middle">
            <div class="card-image-block">
              <h3 class="title_loc">Location à long terme</h3>
            </div>
            <h6 class="card-title text-white space-3 space-top-2">Cours</h6>
          </div>
        </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="/saisonniere.html" class="service-link">
         <div class="card card--shaded full-background-image display-table space-md-2 space-lg-4" style="background-image:url('//cdn2.starofservice.com/static/images/home/bg-lessons.jpg')">
          <div class="display-middle">
            <div class="card-image-block">
              <h3 class="title_loc">Location saisonnière</h3>
            </div>
            <h6 class="card-title text-white space-3 space-top-2">Cours</h6>
          </div>
        </div>
       </a>
      </div>

      <div class="col-md-4">
        <a href="/capetown.html" class="service-link">
          <div class="card card--shaded full-background-image display-table space-md-2 space-lg-4" style="background-image:url(/belle_maison.jpg)">
              <div class="display-middle">
                <div class="card-image-block">
                  <h3 class="title_loc">Location en Afrique du Sud</h3>
                </div>
                <h6 class="card-title text-white space-3 space-top-2">Cours</h6>
              </div>
            </div>
         </a>
      </div>
    </div>
  </div>

    </section>



<script>
//jQuery is required to run this code
$( document ).ready(function() {

    scaleVideoContainer();

    initBannerVideoSize('.video-container .poster img');
    initBannerVideoSize('.video-container .filter');
    initBannerVideoSize('.video-container video');

    $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
    });

});

function scaleVideoContainer() {

    var height = $(window).height() + 5;
    var unitHeight = parseInt(height) + 'px';
    $('.homepage-hero-module').css('height',unitHeight);

}

function initBannerVideoSize(element){

    $(element).each(function(){
        $(this).data('height', $(this).height());
        $(this).data('width', $(this).width());
    });

    scaleBannerVideoSize(element);

}

function scaleBannerVideoSize(element){

    var windowWidth = $(window).width(),
    windowHeight = $(window).height() + 5,
    videoWidth,
    videoHeight;

    console.log(windowHeight);

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width');

        $(this).width(windowWidth);

        if(windowWidth < 1000){
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
            $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

            $(this).width(videoWidth).height(videoHeight);
        }

        $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

    });
}
</script>
