<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">

            <source src="/MP4/we-work-we-wait.mp4" type="video/mp4"/>Your browser does not support the video tag. I suggest you upgrade your browser.
            <!--<source src="/MP4/we_work-we-wait.mp4" type="video/webm" />-->Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>


        <div class="hero__content container-fluid text-center">
        <!--<div class="hero__title" data-sr-id="1" style="; color:white; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
          <h2 class="h4 h2-md text-white">C'est comme si c'était fait</h2>
        </div>-->
        <div class="hero__subtitle" data-sr-id="2" style=";color:white; font-size:45px; visibility: visible;  -webkit-transform: translateY(0) scale(1); transform: translateY(0) scale(1); ">
          <h3 class="padding-standard">
          Vous allez être bien chez vous         </h3>
        </div>

        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>

      </div>
    </div>
</div>
 

<section id="portfolio">
        <div class="container">
            <div class="row">
               <% @logements.each do |logement| %>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <!--<img src="img/portfolio/cabin.png" class="img-responsive" alt="">-->
                         <img src="<%= logement.image1.url %>" alt="" class="img-responsive">
                    </a>
                </div>
              <% end %>
            </div>
        </div>
    </section>



<script>
//jQuery is required to run this code
$( document ).ready(function() {

    scaleVideoContainer();

    initBannerVideoSize('.video-container .poster img');
    initBannerVideoSize('.video-container .filter');
    initBannerVideoSize('.video-container video');

    $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
    });

});

function scaleVideoContainer() {

    var height = $(window).height() + 5;
    var unitHeight = parseInt(height) + 'px';
    $('.homepage-hero-module').css('height',unitHeight);

}

function initBannerVideoSize(element){

    $(element).each(function(){
        $(this).data('height', $(this).height());
        $(this).data('width', $(this).width());
    });

    scaleBannerVideoSize(element);

}

function scaleBannerVideoSize(element){

    var windowWidth = $(window).width(),
    windowHeight = $(window).height() + 5,
    videoWidth,
    videoHeight;

    console.log(windowHeight);

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width');

        $(this).width(windowWidth);

        if(windowWidth < 1000){
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
            $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

            $(this).width(videoWidth).height(videoHeight);
        }

        $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

    });
}
</script>
