<aside>
      <div class="row">
        <div class="text-center">
          <h1 class="baseline">Vous allez être bien chez vous  </h1>
          <!--<h4 class="accroche">DomtomImmo est une agence de location immobilière</h4>-->
        </div>

       <%= form_tag(search_path, method: "get", class: "search-discover js-form-search-location search-discover--hero", role: "form") do %>
       <div class="search-discover__inner">
         <%= text_field_tag :search, params[:search], class:"search-discover__input-location js-location", placeholder: "Dans quel ville voulez-vous louez ?" %>
         <button type="submit" class="btn btn--success search-discover__submit" data-ga-category="Home" data-ga-action="Search">
           <i class="fa fa-search visible-xs"></i>
           <span class="hidden-xs">Rechercher</span>
         </button>
       </div>
       <% end %>

       <div class="row">
         <div class="text-center">
           <h4 class="text_who">Domtom Immo est une agence de service à la personne,
             <br>
             axée sur la vente, la gestion et la location de biens immobiliers.
          </h4>
         </div>
       </div>

       <div class="row">
         <div class="content_button">
           <a href="#portfolio" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
           </a>
         </div>
       </div>
    </div>
</aside>

<article>
  <div id="portfolio" class="container">
    <div class="row">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Nos locations</h2>
          </div>
      </div>
      <!--<div class="col-md-4 col-sm-6 portfolio-item">
        <div class="text-center"><h4>Location</h4></div>
          <a href="/reunion.html" class="portfolio-link" data-toggle="modal">
              <img src="belle_maison.jpg" class="img-responsive img" alt="">
          </a>
          <div class="portfolio-caption">
              <h4 class="_loc">Locations longue durée à la Reunion</h4>
              <h4 class="title_space">Location F3 de 80 m2</h4>
              <h4 class="title_space">Mont Vert / st-pierre</h4>
              <h4 class="title_space">640€/mois </h4>
              <a href="/reunion.html" class="portfolio-link" data-toggle="modal"><button class="btn btn--blue">Voir plus</button></a>
          </div>
      </div>-->
      <div class="col-md-6 col-sm-6 portfolio-item">
        <div class="text-center"><h4>Achat de bien</h4></div>
          <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">

              <img src="saline_maison.jpg" class="img-responsive img" alt="">
          </a>
          <div class="portfolio-caption">
              <h4 class="_loc">Achat  </h4>
              <h4 class="title_space"> Villa de 320 m2</h4>
              <h4 class="title_space" >Salines les Bains</h4>
              <h4 class="title_space">1 244 400 € FAI</h4>
              <a href="/achat.html" class="portfolio-link" data-toggle="modal"><button class="btn btn--blue">Voir plus</button></a>
          </div>
      </div>

      <div class="col-md-6 col-sm-6 portfolio-item">
        <div class="text-center"><h4>Location saisonnière</h4></div>
          <a href="/capetown.html" class="portfolio-link" data-toggle="modal">
              <img src="afspic/bed.jpeg" class="img-responsive img" alt="">
          </a>
          <div class="portfolio-caption">
                <h4 class="_loc">Location </h4>
                <h4 class="title_space">Location F1 de 35 m </h4>
                <h4 class="title_space">Saint-pierre </h4>
                <h4 class="title_space">250 €/semaine</h4>
              <h4><a href="/capetown.html" class="portfolio-link" data-toggle="modal"><button class="btn btn--blue">Voir plus</button></a></h4>
          </div>
        </div>
      </div>
</article>

<article id="zone_commerciale">
  <div  class="container">
    <div class="row">
      <div class="text-center"><h3 class="title_com"><em class="text_em">Vendez</em> ou <em class="text_em">louez</em> votre bien avec domtom immo</h3></div>

      <div class="text-center">
        <h3>DomTom Immo vous aide dans votre processus de vente d'achat.<br/>
          Nos commerciaux prostectent sur toute l'île de la reunion pour vendre vos biens.<br/>
        </h3>
      </div>
    </div>
  </div>
</article>

<!--<article id="article">
  <div class="container">
    <div class="row">
      <div class="text-center"><h1>DomtomImmo</h1></div>
    </div>
  </div>
</article>
<!--<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos locations</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/reunion.html" class="portfolio-link" data-toggle="modal">
                        <img src="belle_maison.jpg" class="img-responsive img" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Locations longue durée à la Reunion</h4>

                        <a href="/reunion.html" class="portfolio-link" data-toggle="modal"><button class="btn btn--blue">Voir plus</button></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">

                        <img src="belle_maison.jpg" class="img-responsive img" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Location saisonnière à la Reunion</h4>
                        <a href="/reunion.html" class="portfolio-link" data-toggle="modal"><button class="btn btn--blue">Voir plus</button></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/capetown.html" class="portfolio-link" data-toggle="modal">
                        <img src="afspic/bed.jpeg" class="img-responsive img" alt="">
                    </a>
                    <div class="portfolio-caption">
                          <h4>Location à Cape Town/Afrique du Sud</h4>
                        <h4><a href="/capetown.html" class="portfolio-link" data-toggle="modal"><button class="btn btn--blue">Voir plus</button></a></h4>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </section>-->






<script>
$('a[href^="#"]').click(function(){
	var the_id = $(this).attr("href");

	$('html, body').animate({
		scrollTop:$(the_id).offset().top
	}, 'slow');
	return false;});
</script>
