<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" id="content_reservation">
      <%= form_for @reservation do | f |%>
      <div class="form-group">
        <div class="text-center">
          <h3>Rentrer un prix</h3>
        </div>
          <%= f.text_field :price,  class: "form-control", placeholder: "20 €" %>
      </div>
        <div class="form-group">
          <%= f.hidden_field :logement_id, value: @logement.id %>
          <div class="row">
            <div class="text-center">
              <%= f.submit 'Validez votre location', :class => "btn btn-primary navbar-btn", :id => "btn_show"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
