@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
nav.navbar.navbar-default
{
  height: 80px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-default
{
    background-color:white;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 60px;
    border-color: black;
}
/*.navbar-right
{
    float: right !important;
    margin-right: -15px;
    margin-top: 15px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
    color: white;
    font-size: 2em;
    font-weight:  bold;
}*/
.navbar-default .navbar-nav > li > a
{
    color: black;
    font-size: 18px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:  bold;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color: red;
    background-color: transparent;

}
.navbar-default .navbar-collapse
{
    border-color: transparent;
    padding-top:15px;
    background: white;
}
.li.page-scroll
{
  margin-top: 15px;
}
h3.title_loc
{
  color: red;
  margin-top: 130px;
  text-align: center;
  font-size: 30px;

}
a:hover, a:focus
 {
    color: red;
    text-decoration:none;
}
aside
{
  text-align: center;
   background-image: url(/belle_maison.jpg);
   height: 650px;
   background-size: cover;
   background-repeat:no-repeat;
   color: white;
}
h1.baseline
{
  margin-top: 300px;
  font-weight: bold;
  font-size: 50px;
}
.row {
    margin-left: 15px;
    margin-right: 15px;
}
h1.titre
{
  color:red;
}
/*end */
.card {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
}
/*page apropos*/
#maps
{
    margin-top:110px;
    margin-bottom: 20px;
}
h4.contact
{
  margin-left: 15px;
  margin-right: 15px;
}
img#logo
{
   height: 80px;
   margin-top: -15px;
}
i.fa.fa-volume-control-phone
{
   padding-top: 15px;
   font-size: 20px;
   font-weight: bold;
   padding-left: 15px;
}
#card_location
{
  margin-top: 30px;
  margin-bottom: 30px;
}
.card.card--shaded.full-background-image.display-table.space-md-2.space-lg-4
{
  margin-bottom: 10px;
}
footer.text-center
{
   margin-bottom: 20px;
}
/*page capetown */
h1.title_afs
{
  margin-top: 150px;
}
.img-responsive
{
  height: 400px;
  width: 700px;
}
.col-lg-4.col-md-4.col-xs-6.thumb
{

  margin-top: 50px;
  margin-bottom: 15px;
}
.footer-above
{
  margin-top: 100px;
}
.footer {
    padding-right: 15px;
    padding-left: 15px;
    background: red;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
